#row0column0 {
    background-image: url("Assets/stock.jpg");
}

#row0column1 {
    background-image: url("Assets/stock.jpg");
}

#row0column2 {
    background-image: url("Assets/stock.jpg");
}

#row1column0 {
    background-image: url("Assets/stock.jpg");
}

#row1column1 {
    background-image: url("Assets/stock.jpg");
}

#row1column2 {
    background-image: url("Assets/stock.jpg");
}