.sectionTitle {
    width: 100%;
    margin-top: 12.5vh;
    text-align: center;
}

.servicePicture {
    width: 15vw;
    height: 15vw;
    background-size: 40vw 20vw;
    background-position-x: -10vw;
    background-position-y: 0vw;
    background-repeat: no-repeat;
    margin: auto;
}

.service {
    display: inline-block;

    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

#residentialPicture {
    background-image: url("../Assets/residentialPicture.jpeg");
}

#commercialPicture {
    background-image: url("../Assets/commercialPicture.jpg");
}

#refurbishmentPicture {
    background-image: url("../Assets/refurbishmentPicture.jpg");
}

#title {
    background-image: url("../Assets/title.png");
}