:root {
    --colour-background: #fff;
    --colour-primary: #189174;
    --colour-secondary: #26ec68;
}

/* width */
::-webkit-scrollbar {
    width: 0.75vw;
}

/* Track */
::-webkit-scrollbar-track {
    background: #303030;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50vh;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#footer {
    margin-top: 12.5vh;

    background-color: black;

    color: white;

    padding-bottom: 2.5vw;

    padding-left: 5vw;
    padding-right: 5vw;

    text-align: center;
}

#header {
    padding-top: 3vh;
    padding-bottom: 2.75vh;

    top: 0;
    position: fixed;

    padding-left: 15vw;
    padding-right: 15vw;

    /*background-image: linear-gradient(rgba(0, 255, 0, 0.25), rgba(0, 255, 0, 0));*/
    background-color: rgba(255, 255, 255, 0.75);
    border-bottom: solid 1px rgba(0, 0, 0, 0.25);

    z-index: 1;
    box-shadow: 0px 1px rgba(0, 0, 0, 0.25);
}

#bulk {
    padding-top: 100px;
    text-align: center;

    padding-left: 15vw;
    padding-right: 15vw;
}

#title {
    background-repeat: no-repeat;
    background-size: 200px;
    width: 70vw;
    height: 30px;

    text-align: right;
}

.headerButton {
    margin-left: 10px;
    margin-top: 0.5vh;

    font-size: medium;

    border-radius: 10px;

    background: none;
    border: none;
}

.headerButton:hover {
    background: rgba(102, 255, 51, 0.25);
    cursor: pointer;
}

.footerColumn {
    width: 300px;
    height: auto;
    margin-right: 5vw;
    margin-top: 3vw;

    display: inline-block;
}

#landing {
    margin: auto;
    padding-top: 20vh;
    padding-bottom: 20vh;

    margin-top: 20vh;

    text-align: center;
    width: auto;
    background-image: linear-gradient(-45deg, var(--colour-primary), var(--colour-secondary));
}

.arrowContainer {
    width: 70px;
    height: 70px;

    margin: auto;
}

.arrow {
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 35px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);

    z-index: 0;

    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.highlighted {
    cursor: pointer;
    transition: background 0.75s;
    background: gold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.highlighted:hover {
    background: crimson;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*
.stop-transition {
    transition: none !important;
}
*/

@keyframes bounce {
    0% {
        margin-top: 0px;
    }
    10% {
        margin-top: 20px;
    }
    20% {
        margin-top: 0px;
    }
    30% {
        margin-top: 20px;
    }
    40% {
        margin-top: 0px;
    }
}
